[flake8]
exclude =
    .git,
    __pycache__,
    venv,
max-line-length = 120
select = B,C,E,F,W,T4,B9

extend-ignore =
     # Line too long: Ignored here but treated on pylintrc
     E501,
     # Line break before binary operator
     W503,
     # Unable to find undefined names
     F403,
     # Visually indented line with same indent as next logical line
     E129,
     # Continuation line over-indented for hanging indent
     E126

# F401: Module imported but unused (ignored in __init__.py files)
# F811: Function redefined (ignored on test step files)
per-file-ignores =*/__init__.py:F401,*/tests/*.py:F811
